@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer base {
  *::selection {
    @apply bg-neutral-100 text-neutral-800;
  }

  *:focus-visible {
    @apply outline-2 outline-blue-500 rounded-none;
  }
}

@layer components {
  .section {
    @apply w-[100%] max-w-xl flex flex-col gap-10;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);

  --color-primary-1: #e7b48a;
  --color-secondary-1: #99ffe4;
}

.noise {
  background: url("./assets/noise.svg");
}

html {
  overscroll-behavior: none;
}

body {
  background: linear-gradient(
    to bottom,
    #141414 0%,
    #080808 6%,
    #040404 24%,
    #000000 100%
  );
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-out-overlay {
  position: fixed;
  inset: 0;
  z-index: 40;

  background: linear-gradient(
    to bottom,
    #181818 0%,
    #0f0f0f 5%,
    #0a0a0a 20%,
    #060606 100%
  );

  pointer-events: none;

  opacity: 1;
  animation: fadeOut 500ms forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 200ms forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.popover-content {
  transform-origin: var(--radix-popover-content-transform-origin);
  animation: slideDown 200ms ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
