@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer base {
  *::selection {
    @apply bg-gray-100 text-gray-800;
  }
}

@layer components {
  .section {
    @apply w-[100%] max-w-xl flex flex-col gap-10;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.noise {
  background: url("./assets/noise.svg");
}

body {
  background: linear-gradient(
    to bottom,
    #181818 0%,
    #0f0f0f 5%,
    #0a0a0a 20%,
    #060606 100%
  );
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
