@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer base {
  *::selection {
    @apply bg-gray-100 text-gray-800;
  }
}

@layer components {
  .section {
    @apply w-[100%] max-w-xl flex flex-col gap-10;
  }

  .link {
    @apply cursor-pointer inline-flex items-center gap-1 hover:underline decoration-1 underline-offset-4;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
